@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .striped tr:nth-child(odd) {
    @apply bg-gray-100
  }
  .striped tr:hover {
    @apply bg-blue-100;
    cursor: pointer;
  }
  .headerImg {
    height: 500px;
    z-index: 0;
  }
  .headerTxt {
    z-index: 1;
  }
}
ul {
  @apply mb-2;
}
li {
  @apply list-disc ml-4 p-1;
}



html, 
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    background: #eeeeee;
  }
}

.card {
  @apply relative text-white backdrop-brightness-50 hover:backdrop-brightness-0 h-72 md:h-96 p-10;
}
.cardLink {
  @apply rounded-full bg-white text-black absolute bottom-5 right-5 lg:bottom-10 lg:right-10 w-9 h-9 p-3;
}
.card:hover .cardLink {
  @apply w-10 h-10;
}

